<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kerchin.yellownote">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--这里找不到是因为Tinker动态生成-->
    <application
        android:name=".global.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LoginNoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentThemeDay"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.SetPatternActivity"
            android:label="@string/set_pattern"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemePatternDay" />
        <activity
            android:name=".ui.activity.ConfirmPatternActivity"
            android:label="@string/confirm_pattern"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemePatternDay" />
        <activity
            android:name=".ui.activity.EditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentThemeDay"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.ShareSuggestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentThemeDay"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.activity.SecretActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentThemeDay"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.activity.SecretMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentThemeDay"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".ui.activity.ThankActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentThemeDay"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".ui.activity.OrmLiteConsoleActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".mvp.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.LoginNoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".ui.activity.RecognizeActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.kerchin.yellownote.data.service.DownloadService">
            <intent-filter android:priority="1000">
                <action android:name="com.kerchin.yellownote.service.DownloadService" />
            </intent-filter>
        </service>
        <!--<activity android:name=".activities.MaterialActivity" />-->
    </application>

</manifest>
